<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBTech RAG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div class="container">
        <div class="chat-container">
            <h2 class="text-center mb-4">PBTech RAG (Unofficial)</h2>
            <div class="chat-box" id="chatBox"></div>
            <div class="input-group mb-3">
                <input type ="text" id ="userInput" class ="form-control" placeholder="Ask any questions">
                <button class = "btn btn-primary" id="sendBtn">Send</button>
            </div>
            <div class="example-queries">
                <h5>Example Questions:</h5>
                <span class="example-query">Recommend me a laptop for gaming under $1500</span>
                <span class="example-query">Compare Acer Swift and Lenovo Thinkpad</span>
                <span class="example-query">What does CPU mean?</span>
                <span class="example-query">What is the price of Acer Swift?</span>
                <span class="example-query">What's a good laptop for uni?</span>
            </div>
        </div>
    </div>
</body>
</html>